<div
  class="account-container d-flex flex-column justify-content-between align-items-end"
>
  <div class="dropdown">
    <i
      class="drop-circle bi bi-person-circle text-dark fs-1 p-2"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    ></i>
    <ul
      class="dropdown-menu border-primary"
      aria-labelledby="dropdownMenuButton"
    >
      <li><a class="dropdown-item mt-2 fs-6" href="#">Account</a></li>
      <li>
        <a class="dropdown-item mt-2 mb-1 fs-6" href="/pages/login.html"
          >Logout</a
        >
      </li>
    </ul>
  </div>
</div>
