<div class="filter-components mt-5 d-flex align-items-center">
  <span class="filters-label">Filters:</span>
  <div class="custom-select">
    <div
      style="width: 250px"
      class="select-selected mx-3 rounded-pill border-primary d-flex form-control justify-content-between"
    >
      All
      <i class="bi-caret-down-fill text-primary"></i>
    </div>
    <div
      class="select-items dropdown-menu mx-3 border-primary my-3"
      style="width: 250px"
    >
      <a class="dropdown-item select-item" data-value="Plantbox 1"
        >Plantbox 1</a
      >
      <a class="dropdown-item select-item" data-value="Plantbox 2"
        >Plantbox 2</a
      >
      <a class="dropdown-item select-item" data-value="Plantbox 3"
        >Plantbox 3</a
      >
    </div>
    <input type="hidden" id="selected-value" name="selected-value" />
  </div>
</div>
