<nav class="navbar d-flex flex-column bg-secondary position-fixed">
  <ul class="navbar-nav align-items-center pt-5">
    <li class="nav-logo">
      <a id="logo" style="font-size: 28px">Logo</a>
    </li>
    <li class="nav-item pt-5">
      <a
        class="bi bi-bell-fill text-black"
        style="font-size: 28px"
        id="notification"
        href="#"
      ></a>
    </li>
    <li class="nav-item pt-2">
      <a
        class="bi bi-house-door-fill text-black"
        id="monitoring"
        style="font-size: 28px"
        href="#"
      ></a>
    </li>
    <li class="nav-item pt-2">
      <a
        class="bi bi-clock-history text-black"
        id="history"
        style="font-size: 28px"
        href="#"
      ></a>
    </li>
  </ul>
</nav>
